{% extends 'base.html.twig' %}

{% block title %}Formulaire de réponse{% endblock %}

{% block body %}
    <h1>Veuillez ajouter votre réponse</h1>

    {{ include('advice/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('advice_index') }}">back to list</a>

    {{ include('advice/_delete_form.html.twig') }}
{% endblock %}
